<!-- <p class="text-center text-muted">made with ♥ Micah Elm</p> -->

<footer class="footer footer-center p-10 bg-primary text-primary-content">
  <div>

    <p class="font-bold">
      made with ♥ by Micah Elm <br>Providing reliable tech 
    </p> 
    
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
 
    </div>
  </div>
</footer>
  
</body>
</html>