<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Almanac:yours</title>

    <link rel="stylesheet" href="/css/main.css" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
  </head>
  <body>
    <nav class="relative container mx-auto p-6">
      <div class="flex items-center justify-between">
        <div class="pt-2">
          <img src="" alt="Almanac logo" />
        </div>
        <!-- Menu Items -->
        <div class="hidden md:flex space-x-6 justify-between">
          <a class="hover:text-blue-200 nav-link" href="/">Home</a>
          <a class="hover:text-blue-200 nav-link" href="/about">About</a>
          <a class="hover:text-blue-200 nav-link" href="/community"
            >Community</a
          >
        </div>
      </div>
    </nav>
  </body>
</html>
