<form action="/weather" method="POST" class="search">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  for="city"
                  name="city"
                  id="city"
                  placeholder="Enter City"
                  aria-describedby="button-addon2"
                />
                <input placeholder="Submit" type="submit">
              </div>
            </div>
        </form>
   