<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div>
        <p>Testing for rendering purposes</p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
