<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testing</title>
  </head>
  <body> -->
<%- include('partials/header') -%>
<nav class="relative container mx-auto p-6">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <img src="" alt="rotation logo" />
    </div>
    <!-- Menu Items -->
    <div class="hidden md:flex space-x-6 justify-between">
      <a class="hover:text-blue-200 nav-link" href="/">Home</a>
      <a class="hover:text-blue-200 nav-link" href="/about">About</a>
      <a class="hover:text-blue-200 nav-link" href="/community">Community</a>
    </div>
  </div>
</nav>
<main class="container">
  <div class="row justify-content-around mt-5">
    <a
      href="/signup"
      class="bg-gray-700 shadow-indigo-500/40 p-3 px-6 pt-2 rounded-full baseline hover:text-slate-200"
    >
      Signup</a
    >
    <a href="/login" class="col-3 btn btn-primary"> Login</a>
  </div>
</main>

<%- include('partials/footer') %>
