<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Mgmt</title>
  </head>
  <body>
    <div class="container">
      <h2 id="welcome-title">login</h2>
      <div class="login-container">
        <form action="/" method="get">
          <input type="email" name="email" id="" />
          <input type="password" name="password" id="" />
        </form>
      </div>
    </div>
  </body>
</html>
