@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  border: solid 2px #dcfce7;
  border-radius: 5px;
}
.signup-btn {
  background: #dcfce7;
}
.login-btn {
  background: #ecf4e7;
}
